/* start product page design */
.container {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 20px;
	justify-content: center;
	margin-top: 20px;
}
.products {
	width: 30vw;
	height: 60vh;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	box-shadow: 2px 2px 3px grey;
	border-radius: 10px;
}

.images {
	height: 30vh;
}

.name {
	text-align: center;
}
.product-btn {
	border-radius: 20px;
	width: 10vw;
	height: 6vh;
	border: none;
	background-color: rgb(108, 39, 62);
	color: white;
}
/* end product page design */
/* start signIn page design */

.signIn-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
	border: 1px solid black;
	width: 40rem;
	height: 30rem;
	border-radius: 12px;
	box-shadow: 2px 2px 2px 3px grey;
}
.inputs {
	width: 26rem;
	height: 2.5rem;
	border-radius: 8px;
	border: 1.5px solid black;
	padding-left: 20px;
	font-size: 14px;
	margin-top: 20px;
}

.btn-sign-in {
	width: 27.7rem;
	height: 2.5rem;
	border-radius: 8px;
	font-size: 18px;
	background-color: red;
}
/* end signIn page design */
/* /////////////////// */
/* start login page design */
.card-login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
	border: 1px solid black;
	width: 40rem;
	height: 20rem;
	border-radius: 12px;
	box-shadow: 2px 2px 2px 3px grey;
}
.btn-login {
	width: 27.7rem;
	height: 2.5rem;
	border-radius: 8px;
	font-size: 18px;
	background-color: rgb(108, 39, 62);
	color: white;
	border: none;
	margin-top: 15px;
}
/* end login page design */
@media (max-width: 600px) {
	.products {
		width: 90%;
		height: 45vh;
		justify-content: center;
		align-items: center;
		border: 1px solid black;
		display: flex;
		flex-direction: column;
		box-shadow: 2px 2px 3px grey;
		border-radius: 10px;
	}
	.images {
		height: 20vh;
		width: 26vw;
	}
	.name {
		text-align: center;
		font-size: 15px;
	}

	.container {
		display: grid;
		grid-template-columns: auto;
		gap: 20px;
		justify-items: center;
		align-items: center;
		margin-top: 20px;
	}
	.product-btn {
		border-radius: 20px;
		width: 30vw;
		height: 6vh;
		border: none;
		background-color: rgb(108, 39, 62);
		color: white;
	}

	.signIn-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.card {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 30px;
		border: 1px solid black;
		width: 15rem;
		height: 30rem;
		border-radius: 12px;
		box-shadow: 2px 2px 2px 3px grey;
	}

	.card-login {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 15px;
		border: 1px solid black;
		width: 20rem;
		height: 20rem;
		border-radius: 12px;
		box-shadow: 2px 2px 2px 3px grey;
	}
	.inputs {
		width: 10rem;
		height: 2.5rem;
		border-radius: 8px;
		border: 1.5px solid black;
		padding-left: 20px;
		font-size: 14px;
		margin-top: 20px;
	}

	.btn {
		width: 11.7rem;
		height: 2.5rem;
		border-radius: 8px;
		font-size: 18px;
		background-color: rgb(108, 39, 62);
		color: white;
		border: none;
	}

	.btn-login {
		width: 11.7rem;
		height: 2.5rem;
		border-radius: 8px;
		font-size: 18px;
		background-color: rgb(108, 39, 62);
		color: white;
		border: none;
	}
}

@media only screen and (min-width: 600px) {
	.images {
		height: 15vh;
		width: 15vw;
	}
	.container {
		display: grid;
		grid-template-columns: auto auto;
		gap: 20px;
		justify-content: center;
	}
}
@media only screen and (min-width: 768px) {
	.container {
		display: grid;
		grid-template-columns: auto auto auto;
		gap: 20px;
		justify-content: center;
		margin-top: 20px;
	}
	.products {
		width: 30vw;
		height: 74vh;
		justify-content: center;
		align-items: center;
		border: 1px solid black;
		display: flex;
		flex-direction: column;
		box-shadow: 2px 2px 3px grey;
		border-radius: 10px;
	}

	.images {
		height: 30vh;
	}

	.name {
		text-align: center;
	}
}
